# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Zip Files
*.zip

# Analyzer Files
*.logicdata
*.txt

# Vim swap files
*.swp

# Screen Captures
*.png
*.jpg
*.bmp
*.tiff

